.devcontainer
.vscode
.yarn
dist
node_modules

src/auth/web/templates/*.ts

.editorconfig
.eslintignore
.eslintrc
.gitattributes
.gitignore
.prettierignore
.prettierrc
.yarnrc.yml
LICENCE
tsconfig.tsbuildinfo
yarn.lock

*.md
*hbs
.txt
*.json
