.yarn
dist
node_modules
.editorconfig
.eslintignore
.gitattributes
.gitignore
.prettierignore
.yarnrc.yml
LICENCE
tsconfig.tsbuildinfo
yarn.lock

src/auth/web/templates/compiled.ts

*.md
*.hbs
*.html
*.txt