<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <title>Login Redirect - Error</title>
    </head>
    <body>
        <div id="main">
            <p class="message">
                {{twilioRequestSid}} - {{message}}
            </p>
            <p class="link-container">
                <a id="navLink" href="/">Go Home</a>
            </p>
        </div>
    </body>
</html>